body {
	background-color: #5F9EA0;
	font-family: 'Sarabun', sans-serif;
}

h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#survey-form {
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
}

p {
	text-align: center;
	padding-top: 20px;
}