body {
	background-color: #5F9EA0;
	font-family: 'Sarabun', sans-serif;
}

h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#survey-form {
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 16px;
}

#description {
	text-align: center;
	padding-top: 20px;
}

.question {
	display: inline-block;
	width: 45%;
	text-align: right;
	margin-right: 20px;
	vertical-align: top;
}

#name-label {
	width: 25%;
	height: 25px;
}

#email-label {
	width: 25%;
	height: 25px;
}

#number-label {
	width: 25%;
	height: 25px;
}

#dropdown {
	display: inline;
	width: 15px;
	height: 25px;
}

#radio {
	display: inline-block;
}

#checkbox {
	display: inline-block;
}

button {
	font-size: 18px;
	margin-left: 50%;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
	background: #dee1e5;
}















