body {
	background-color: #5F9EA0;
	font-family: 'Sarabun', sans-serif;
}

h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#survey-form {
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 16px;
}

#description {
	text-align: center;
	padding-top: 20px;
}

.question {
	display: inline-block;
	width: 45%;
	text-align: right;
	margin-right: 20px;
}

#name-label {
	width: 25%;
	height: 25px;
}

#email-label {
	width: 25%;
	height: 25px;
}

#number-label {
	width: 25%;
	height: 25px;

}



















